@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arvo', serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.page-enter-active, .page-leave-active {
  transition: opacity .25s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

p {
  line-height:1.8;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
